.asa {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  position: absolute;
  cursor: progress;
  margin: 2px;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) , -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.7, 0.22, 0.285, 0.89);
  -moz-transition: all 300ms cubic-bezier(0.7, 0.22, 0.285, 0.89);
  -o-transition: all 300ms cubic-bezier(0.7, 0.22, 0.285, 0.89);
  transition: all 300ms cubic-bezier(0.7, 0.22, 0.285, 0.89);
  -webkit-transform:  scaleZ(-1) translateX(3px) ;
  transform:  scaleZ(-1) translateX(3px) ;
}



.asa:hover {
  cursor: default;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) , 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) , 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
  -webkit-transform: rotateZ(2deg) scaleZ(-1) translateX(3px) translateZ(-2px) ;
  transform: rotateZ(2deg) scaleZ(-1) translateX(3px) translateZ(-2px) ;
}

.navbar{
  box-sizing: border-box;
  background-color: #0342a7;
    
    
  }

  .navi li{
    list-style: none;
    float: right;
    
  }
  .navi li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
  }

  .navi li a:hover {
    background-color: #446190;
    color: #f4f4f4;
  }
